[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
pyre = "*"
black = "*"
ruff = "*"
pyre-check = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.11"
