[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
aiohttp = "*"
bolt11 = "*"
greenlet = "*"
gunicorn = "*"
nostr-sdk = "*"
pyjwt = "*"
python-dotenv = "*"
quart = "*"
requests = "*"
uma-auth-api = "*"
uvicorn-worker = "*"
uvicorn = "*"
aioauth = "*"
cryptography = "*"
botocore = "*"
awscli = "*"

[dev-packages]
aiosqlite = "*"
black = "*"
pyre-check = "*"
ruff = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-env = "*"

[requires]
python_version = "3.11"
